.box1 {
  background-color: rgb(0, 134, 243);
  height: 100vh;
}

.boxy {
  margin-top: 40%;
}

img {
  margin-left: 15%;
}

.back {
  position: relative;
  top: 20%;
  width: 286px;
  height: 375px;

  background: #3b3b3b;
  border-radius: 71px;
}
.cover {
  position: relative;
  width: 286px;
  height: 329px;

  background: #000000;
  border-radius: 71px;
}

.topstrap {
  position: relative;
  width: 142px;
  height: 121px;
  /* bottom: 40%;
  left: 25%; */
  background: #000000;
  border-radius: 29px;
}

.tstrapdesign {
  position: relative;
  width: 142px;
  height: 175px;
  bottom: 50%;
  left: 25%;
  background: #3b3b3b;
  border-radius: 27px;
}

.botstomstrap {
  position: relative;
  width: 142px;
  height: 141px;
  /* bottom: 40%;
  left: 25%; */
  background: #000000;
  border-radius: 29px;
}

.bstrapdesign {
  position: relative;
  width: 142px;
  height: 176px;
  bottom: 10%;
  left: 25%;
  background: #3b3b3b;
  border-radius: 27px;
}
