.box1 {
  border: 2px dotted black;
  height: 100vh;
}

.back {
  position: absolute;
  top: 20%;
  width: 286px;
  height: 375px;

  background: #3b3b3b;
  border-radius: 71px;
}
.cover {
  position: absolute;
  width: 286px;
  height: 329px;

  background: #000000;
  border-radius: 71px;
}

.clockicon {
  position: absolute;
  right: 15%;
  top: 82%;
  color: white;
}

.clockicon:hover {
  color: rgb(199, 0, 182);
  cursor: pointer;
}

.day {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  top: 7%;
}

.digits {
  position: relative;
  text-align: center;
  font-size: 4em;
  top: 5%;
}

.musicicon {
  position: absolute;
  top: 82%;
  left: 45%;
  color: white;
}

.msgicon {
  position: absolute;
  left: 15%;
  top: 82%;
  color: white;
}

.musicicon:hover {
  color: red;
  cursor: pointer;
}

.msgicon:hover {
  color: rgb(0, 152, 199);
  cursor: pointer;
}

#reset {
  position: absolute;
  left: 15%;
  top: 65%;
  color: white;
}
#timerplay {
  position: absolute;
  top: 65%;
  left: 46%;
  color: white;
}

.heading {
  margin-top: 40%;
  font-weight: bolder;
  color: #000000;
}

#stop {
  position: absolute;
  right: 15%;
  top: 65%;
  color: white;
}
#stop:hover {
  color: red;
  cursor: pointer;
}
#reset:hover {
  color: red;
  cursor: pointer;
}
#timerplay:hover {
  color: red;
  cursor: pointer;
}

.lap {
  position: relative;
  text-align: center;
  font-size: 3em;
  color: grey;
}
iframe {
  position: absolute;
  left: 8%;
  top: 8%;
}

h6:hover {
  color: red;
  cursor: pointer;
}

#msg {
  position: absolute;
  height: 60%;
  width: 80%;
  left: 10%;
  top: 15%;
  background-color: white;
  border-radius: 17%;
}

#list1:hover {
  cursor: pointer;
  color: blue;
  font-weight: lighter;
}

#list2:hover {
  cursor: pointer;
  color: blue;
  font-weight: lighter;
}

#list3:hover {
  cursor: pointer;
  color: blue;
  font-weight: lighter;
}
.topstrap {
  position: relative;
  width: 142px;
  height: 111px;
  background: #000000;
  border-radius: 29px 0 29px 0;
  /* border-bottom-left-radius: 100px; */
  border-bottom-right-radius: 100px;
}

.tstrapdesign {
  position: absolute;
  width: 142px;
  height: 145px;
  top: 5%;
  /* top: 9%; */
  background: #3b3b3b;
  border-radius: 27px;
}

.topstrap2 {
  position: relative;
  width: 142px;
  height: 111px;
  top: 20%;
  background: #000000;
  border-radius: 0 0 29px;
  border-top-left-radius: 100px;
}

.tstrapdesign2 {
  position: absolute;
  width: 142px;
  height: 140px;
  top: 77%;
  /* top: 62%; */
  left: 40%;
  background: #3b3b3b;
  border-radius: 27px;
  z-index: -1;
}

.time:hover {
  cursor: pointer;
}
.time {
  position: relative;
  text-align: center;
  font-size: 4em;
  top: 10%;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
